/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,700;1,200&display=swap');
:root {
    --color-primary: #1861cf;
    --color-success: #3cb331;
    --color-secondary: #6c757d9f;
}

html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}

.btn-primary {
    background-color: var(--color-primary) !important;
}

.btn-success {
    background-color: var(--color-success) !important;
    border: none;
}

.error-toast{
    background-color: var(--color-success) ;
}

.bg-secondary {
    background-color: var(--color-secondary)  !important;    
}

